server:
  port: 8080
spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/employee_management
    username: mohirdev
    password: 123
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    url: /v3/api-docs
  api-docs:
    path: /v3/api-docs

jwt:
  secret: your-256-bit-secret-key-here-should-be-at-least-32-chars-long!!
